<script type="text/javascript">
//clickCount = ko.observable(0);
</script>
<div data-options="dxView : { name: 'noInternet', title: 'Обратите Внимание !' } ">
  <div class="gallery" data-bind="dxGallery: { dataSource: galleryNoRest, showIndicator: false, swipeEnabled: false }">
    <div style="color: #323232;" data-options="dxTemplate: { name: 'item' }">
      <p style="margin-top: 20px;">
        <span data-bind="text: topText"></span>
      </p>
      <div>
        <img data-bind="attr: { src: src }" style="width: 100%;" />
      </div>
      <div style="position: absolute;bottom: 28px;width: 80%;font-size: 12px;padding: 0px 10%;">
        <span data-bind="text: bottomText"></span>
        <div class="progress-bar" data-bind="dxProgressBar:{ min: 0, max: 10, value: clickCount, showStatus: false }"></div>
      </div>
    </div>
  </div>
</div>